@import url(./_register.scss);
@import url(./_font.scss);
@import url(./_color.scss);
@import url(./_todo.scss);
@import url(./_login.scss);
@import url(./_addTodoModal.scss);
@import url(./_clockDiv.scss);
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
}

.BtnRegister {
  padding: 200px;
  background-color: rgb(241, 224, 224);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  a {
    text-decoration: none;
    padding: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  & a:last-child {
    background-color: black;
    color: white;
    &:hover {
      background-color: rgba(0, 51, 255, 0.706);
    }
  }
  & a:first-child {
    background-color: cornsilk;
    &:hover {
      background-color: rgb(173, 165, 165);
    }
  }
}
